# Ignora pastas de dados pesadas
dataset/
lock_dir/
etc/
outputs/

# Ignora lixo do Python e Git
.git
__pycache__
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

# Ignora logs e ambientes virtuais
*.log
venv/
.env