h5py==3.15.1
matplotlib==3.10.8
numpy==2.2.6
pandas==2.3.3
scikit-learn==1.6.1
scipy==1.15.3
sympy==1.14.0
tqdm==4.67.1
pymongo==4.16.0
torch==2.9.1
optuna==4.7.0
optuna-dashboard==0.20.0
twilio==9.10.1
wandb==0.25.0